<div class="header">
  <div class="container">
    <a href="/tags">
      <img src="http://s3.amazonaws.com/codecademy-content/courses/learn-rails/img/logo-1tm.svg" width="80">
      <h1>BokenjiKan</h1>
    </a>
  </div>
</div>

<div class="destination">
  <div class="container">
    <%= image_tag @destination.image %>

    <%= form_for(@destination) do |f| %>
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
        <%= f.label :description %><br>
        <%= f.text_field :description %>
      </div>
      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>

  </div>
</div> 
