<div class="header">
  <div class="container">
    <a href="/tags">
      <img src="http://s3.amazonaws.com/codecademy-content/courses/learn-rails/img/logo-1tm.svg" width="80">
      <h1>BokenjiKan</h1>
    </a>
  </div>
</div>

<div class="destination">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="<%= @destination.image %>">
        <h2><%= @destination.name %></h2>
        <p><%= @destination.description %></p>
        <%= link_to "Edit", edit_destination_path() %>
      </div>
    </div>
  </div>
</div> 
